version: '3.8'

services:
  bot:
    build: .
    container_name: vpn_bot
    env_file:
      - .env
    volumes:
      - ./data:/app/data
      - ./logs:/app/logs
    restart: unless-stopped
    network_mode: "host"
